#search-results-container {
    display: flex;
    overflow: scroll;
}

#collection-display {
    display: flex;
    width: 100%;
    overflow: scroll;
    gap: 1rem;
}

.film-poster {
    height: 200px;
}