* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
}

.collection-display {
    display: flex;
    gap: 1rem;
}

.film-item {
    border: 1px solid #000000;
    width: 20rem;
    text-wrap: wrap;
}

.film-poster {
    height: 20rem;
}

nav {
    width: 100%;
    position: relative;
}

#search-films-form {
    position : absolute;
    top: 2rem;
    right: 2rem;
}